.vscode
*.exe
*.ilkj
*.obj
*.pdb
lib/** 
bin/**
*.exp
*.xpl
*.lib
build/
build-mingw/
CMakeCache.txt
CMakeFiles/
.DS_STORE

# Automated Build System
.cache/
subprojects/*
!subprojects/*.wrap
!subprojects/baton/

#UnitTests
/googletest

# Super-linter outputs
super-linter-output
super-linter.log

# GitHub Actions leftovers
github_conf
