---
name: Meson Build System

# Basically, only rebuilds and tests the project when C++ is changed
on:
  push:
    paths:
      - "**.cpp"
      - "**.h"
  pull_request:
    paths:
      - "**.cpp"
      - "**.h"
  workflow_dispatch:

jobs:
  build:
    name: Build and Test on ${{ matrix.os }} with Meson
    runs-on: ${{ matrix.os }}
    strategy:
      # Basically just runs the workflow on each of these OS's
      # Right now, just worried about runing / building on Windows
      matrix: 
        os: [ windows-latest, macos-latest ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      # I think I need to find a better place to put this requirements directory.
      # Right now, it is in the project root
      - name: Install Dependencies using Python Pip
        run: pip install -r ci_requirements.txt

      - name: Download XPlane SDK using Windows Powershell
        run: ./utils/init.ps1

      - name: Setup and Build Meson Project
        run: | 
          meson setup build
          meson compile -C build

      - name: Test the Meson Project
        run: ./build/testsuite --verbose~

      # if tests fail, upload a test log?
      #- name: Upload Test Log
      #  uses: actions/upload-artifact@v4
      #  if: failure()
      #  with:
      #    name: ${{ matrix.os }}_Meson_Testlog
      #    path: builddir/meson-logs/testlog.txt
