---
name: Super Linter!

on:
  push:
  pull_request: 
    branches:
      - main
  workflow_dispatch:

jobs:
  lint-and-fix:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      checks: write
      statuses: write
    env:
      CI_COMMIT_MESSAGE: Auto-fix linting issues
      CI_COMMIT_AUTHOR: Super Linter!

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Checking out the PR merge commit
          #ref: refs/pull/${{ github.event.pull_request.number }}/merge
          #token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
          
      - name: Configure Git
        run: |
          git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git config --global user.email 'auto-linter@github.com'
         # git fetch origin "$"
         # git checkout -B "$PR_BRPR_BRANCHANCH" "origin/$PR_BRANCH"
       # env:
        #  PR_BRANCH: ${{ github.event.pull_request.head.ref }}
          
      - name: Run Super-Linter with Auto-Fix
        uses: super-linter/super-linter@v7.2.1
        env:
          VALIDATE_ALL_CODEBASE: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MULTI_STATUS: true
          VALIDATE_CLANG_FORMAT: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_YAML: true
          FIX_CLANG_FORMAT: true

          # I need to talk to the team about YAML and Markdown Prettier.
          # This will let us check and auto-fix styling issues in our
            # documentation and workflows.
          # VALIDATE_YAML_PRETTIER
          # FIX_YAML_PRETTIER
          # VALIDATE_MARKDOWN_PRETTIER
          # FIX_MARKDOWN_PRETTIER

      - name: Commit fixed files
        if: > 
          github.event_name != 'pull_request' 
          && github.event.pull_request.head.repo.fork == false
        run: |
          if [[ -n $(git status -s) ]]; then
            git add .
            git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
            git push
          else
            echo "No linting fixes needed"
          fi
      #  env:
         # PR_BRANCH: ${{ github.event.pull_request.head.ref }}

# ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------